@import './settings.scss';

.App {
  text-align: center;
}

.AppHeader {
  background-color: $bg-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2 * $base-size;
  color: $color-text;
}
